@import url("https://use.typekit.net/kbn6kil.css");
body {
	font-family: poppins, sans-serif;
	background-color: white;
	margin: 0;
}
button{
	font-family: poppins, sans-serif;
}
.header{
	display: flex;
	background-color: #333A56;
}
.header * a{
	text-decoration: none;
	color: #fff;
}
.header-left{
	width: 30%;
	display: flex;
	justify-content: center;
}
.header-right{
	width: 70%;
	display: flex;
	justify-content: center;
	background-color: #52658F;
}
.header-right *{
	margin: 0 8.5rem;
	text-transform: uppercase;
	align-self: center;
}
.header-right a:hover{
	color: #acacac;
}
table {
	text-align: center;
	margin: auto;
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

.display-pets {
	text-align: left;
	margin: 2rem;
	width: calc(100% - 4rem);
}
.display-pets tr{
	padding: 15px 0;
	display: table-row;
	border-bottom: 1px solid #000;
}
.display-pets td{
	padding: 15px;
}
.display-pets th{
	padding: 15px;
	border-top: 1px solid #000;
}
.off-row {
	background-color: whitesmoke;
}

.homeBackground {
	background-image: url("https://images.pexels.com/photos/374825/pexels-photo-374825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-size: cover;
}


.title {
	font-size: xx-large;
	text-align: center;
	background-color: #333A56;
	color: white;
	width: 110%;
}

.nav-head {
	text-align: right;
	padding-left: 10px;
}

.nav {
	font-size: large;
	background-color: #52658F;
}

.nav-links a {
	text-decoration: none;
	color: white;
}

.nav-links {
	text-align: right;
	padding-right: 10px;
}

.title {
	font-size: xx-large;
	text-align: center;
	background-color: #333A56;
	color: white;
	width: 110%;
}

.title a {
	text-decoration: none;
	color: white;
}

.search{
	text-align: left;
}

.search td{
	vertical-align: top;
}

#pfbtn:hover{
	cursor: pointer;
}

#pfbtn{
	border: none;
	background: none;
	font-weight: bold;
	padding: 0 !important;
}

button:active, button:focus{
	outline: none;
}

/*tool tips
 *structure credit to 
 *https://www.w3schools.com/css/css_tooltip.asp
 */
.tooltip {
	font-size: small;
	color: gray;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}