@import url("https://use.typekit.net/kbn6kil.css");
html, body {
	font-family: poppins, sans-serif;
	background-color: white;
	margin: 0;
	height: 100%;
}

button{
	font-family: poppins, sans-serif;
}

/*table styling*/
table {
	text-align: center;
	border-collapse: collapse;
}

.display-pets {
	text-align: left;
	margin: 2rem;
	width: calc(100% - 4rem);
}

.display-pets tr{
	padding: 15px 0;
	display: table-row;
	border-bottom: 1px solid #000;
}

.display-pets td{
	padding: 15px;
}

.display-pets th{
	padding: 15px;
	border-top: 1px solid #000;
}

.off-row {
	background-color: whitesmoke;
}

/*navigation*/
.header{
	display: flex;
	background-color: #333A56;
}

.header * a{
	text-decoration: none;
	color: #fff;
}

.header-left{
	display: flex;
	justify-content: center;
}

.header-right{
	margin-right: 0px;
	display: flex;
	justify-content: center;
	background-color: #52658F;
}

.header-right *{
	margin: 0 1%;
	text-transform: uppercase;
	align-self: center;
}

.header-right a:hover{
	color: #acacac;
}

.half-width {
	width: 50%;
}
.footer{
	background-color: rgb(85, 85, 85);
	padding: 2rem;
}
.footer h2{
	color: #fff;
	width: 100%;
	margin-top: 0;
}
.footer-sitemap a{
	padding-right: 10px;
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
}
.copyright{
	margin-top: 20px;
}

/*search page styles*/
.search{
	text-align: left;
}

.search td{
	vertical-align: top;
}

.search-table{
	margin-right: 2%;
	width: 90%;
	margin-left: 2%;
}

#pfbtn:hover{
	cursor: pointer;
}

#pfbtn{
	border: none;
	background: none;
	font-weight: bold;
	padding: 0 !important;
}

button:active, button:focus{
	outline: none;
}

.recent{
	margin-left: 2rem;
	margin-top: 2rem;

/*tool tips
 *structure credit to 
 *https://www.w3schools.com/css/css_tooltip.asp
 */
.tooltip {
	font-size: small;
	color: gray;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: gray;
  color: white;
  padding: 5px;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*home page styles*/
.homeBackground {
	background-image: url("https://images.pexels.com/photos/374825/pexels-photo-374825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
	background-attachment: fixed;
	height: 100%;
	background-size: cover;
}

.about {
	margin-left: 2%;
	margin-right: 20%;
	color: white;
	padding: 2%;
	text-shadow: -1px 0 black, 0 1px black,
		1px 0 black, 0 -1px black;
}

.about h1{
	font-size: x-large;
}

.about h2{
	font-size: large;
}

.about p {
	font-size: medium;
	margin-left: 4%;
}

.about a{
	color: #bac3d7;
	text-shadow: -.5px 0 #202738, 0 .5px #202738,
		.5px 0 #202738, 0 -.5px #202738;
}

/*size-responsive styling*/
@media screen and (max-width: 600px){
	.header-right{
		font-size: small;
	}
	
	.header-left{
		font-size: small;
	}
}

@media screen and (max-width: 400px){
	.header-right{
		font-size: x-small;
	}
	
	.header-left{
		font-size: x-small;
	}
}